body {
    /* Font */
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 1px 1px 5px black;

    /* Layout */
    text-align: center;
    margin: auto;

    /* Background */
    background-image: url("../assets/second_world_by_eams1234_dcicneh.png");
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2px);
}

footer {
    padding: 32px;
}

.solid-background {
    /* Box appearence */
    color: black;
    text-shadow: 0px 0px 0px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 50%);

    /* Layout */
    padding: 16px;
}

.blank-background {
    /* Layout */
    padding: 16px;
}

.card {
    /* Card appearence */
    color: black;
    text-shadow: 0px 0px 0px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 50%);

    /* Card shape */
    border-radius: 16px;
    margin: auto;
    height: fit-content;
    width: fit-content;

    /* Layout */
    padding: 16px;
}

#about-container {
    display: inline-grid;
}

#about {
    /* Layout */
    position: relative;
    top: 64px;
    text-align: justify;
    margin: 16px;

    /* Grid */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;
}

#profile-picture {
    /* Appearence */
    height: 256px;
    width: 256px;
    border-radius: 128px;

    /* Grid */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;
    margin: 16px;
}

#project-container {
    display: inline-grid;
}

#game-of-life {
    /* Grid */
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 2;

    margin: 16px;
}

#pa-pre-fu {
    /* Grid */
    grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    grid-column-end: 3;

    margin: 16px;
}

#repos {
    /* Grid */
    grid-row-start: 1;
    grid-column-start: 3;
    grid-row-end: 2;
    grid-column-end: 4;

    margin: 16px;
}